.interested-subjects {
    text-align: center;

    .interested-subjects-content {
        max-width: 742px;
        margin: auto;

        .interested-buttons {
            display: flex;
            flex-wrap: wrap;
            gap: 20px;
            justify-content: center;

            .btn {
                border-radius: 20px;
                font-weight: 600;
            }

            .btn-outline-secondary {
                color: black;
                background: #ececed;
            }

            .btn-outline-secondary:hover{
                color: white;
                background: #002D3C;
            }
        }
          
        .proceed-button {
            margin-top: 40px;
           
            .btn {
                border-radius: 16px;
                font-weight: 600;
            }
        }
    }
      
  }
  
 