.investors{
    background: #002D3C;
    padding: 15px;
    border-radius: 20px;

    .investor-details{
        min-height: 100%;
        color: white;
        display: flex;
        flex-direction: column;
        align-items: flex-start;
        justify-content: space-evenly;
    }
}